.movie-card
{
    width: 250px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: auto;
    background: url('../Assets/download.jpg');
     
}

